@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

//<---| Font Families & Font Weights |--->//
$Font-Family-Roboto: "Roboto", sans-serif;
$Thin-Font: 100;
$Light-Font: 300;
$Medium-Font: 500;
$Bold-Font: 700;

//<---| Font Sizes |--->//
$Normal-Size: 1.3rem;
$Subtitle-Size: 2rem;
$Button-Size: 2.4rem;
$Popup-Size: 2.7rem;
$Title-Size: 3rem;

//<---| Color Palette |--->//
$Color-Black: #191a21;
$Color-Bg-Black: #282a36;
$Color-Gray: #5e627d;
$Color-Light-Gray: #6b6f8d;
$Colot-Font-Light-Gray: #9b9b9b;
$Color-White: #ffffff;
$Color-Yellow: #fbda56;
$Color-Orange: #f8705d;
$Color-Pink: #f31483;
$Color-Light-Blue: #32ede9;
$Color-Blue: #758dff;
