@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

//<---| Font Families & Font Weights |--->//
$Font-Family-Roboto: 'Roboto', sans-serif;
$Thin-Font: 100;
$Light-Font: 300;
$Medium-Font: 500;
$Bold-Font: 700;

//<---| Font Sizes |--->//
$Normal-Size: 1.3rem;
$Subtitle-Size: 2rem;
$Button-Size: 2.4rem;
$Popup-Size: 2.7rem;
$Title-Size: 3rem;

//<---| Color Palette |--->//
$Color-Black: #191A21;
$Color-Bg-Black: #282A36;
$Color-Gray: #5E627D;
$Color-Light-Gray: #6B6F8D;
$Color-Yellow: #FBDA56;
$Color-Orange: #F8705D;
$Color-Pink: #F31483;
$Color-Light-Blue: #32EDE9;
$Color-Blue: #758DFF;