@import "../../styles/global/variables.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

#background {
  background-color: $Color-Bg-Black;
  width: 100vw;
  height: 100vh;
  padding-top: 8vh;
}

#lottie {
  margin: 0 auto;
  width: 36vw;
  height: 36vh;
}

#boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}
