@media (max-width: 376px) {
  #TextFieldBox__Tab2 {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #SelectField__Tab2 {
      width: 200px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #CodeEditorBox__Tab2 {
    width: 72% !important;
    display: inline-block;
    margin-right: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  #TextFieldBox__Tab2 {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #SelectField__Tab2 {
      width: 230px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }

  #CodeEditorBox__Tab2 {
    width: 72% !important;
    display: inline-block;
    margin-right: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }
}

@media (min-width: 428px) and (max-width: 550px) {
  #TextFieldBox__Tab2 {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #SelectField__Tab2 {
      width: 200px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #CodeEditorBox__Tab2 {
    width: 71.5%;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }
}

@media (min-width: 550px) and (max-width: 1440px) {
  #TextFieldBox__Tab2 {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #SelectField__Tab2 {
      width: 350px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #CodeEditorBox__Tab2 {
    width: 71.5%;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }
}

@media (min-width: 1441px) {
  #TextFieldBox__Tab2 {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #SelectField__Tab2 {
      width: 400px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #CodeEditorBox__Tab2 {
    width: 76.8%;
    display: inline-block;
    margin-right: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }
}
