//import global styles
@import "global/variables.scss";
@import "global/global.scss";

//create-react-app
@import "../App.scss";
@import "../index.scss";

//screens
@import "./screens/HomeScreen.scss";
@import "./screens/ProblemsScreen.scss";
