.ProblemScreenContainer {
  width: 85vw;
  // margin-top: 15vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (max-width: 321px) {
  #buttonBox {
    display: flex;
    justify-content: center;
    width: 200px !important;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    #NextButton__ProblemFormScreen {
      width: 100px;
      margin-left: 2rem;
      margin-right: 4rem;
    }
    #BackButton__ProblemFormScreen {
      margin-left: 11rem;
      width: 100px;
    }
    .button {
      width: 100%;
    }
  }
}
@media (min-width: 322px) and (max-width: 376px) {
  #buttonBox {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    #NextButton__ProblemFormScreen {
      width: 100px;
      margin-left: 2rem;
    }
    #BackButton__ProblemFormScreen {
      width: 100px;
      margin-left: 4rem;
    }
    .button {
      width: 100%;
    }
  }
}
@media (min-width: 377px) and (max-width: 426px) {
  #buttonBox {
    display: flex;
    justify-content: center;
    width: 84% !important;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    #NextButton__ProblemFormScreen {
      width: 100px;
      margin-left: 2rem;
      margin-right: 4rem;
    }
    #BackButton__ProblemFormScreen {
      margin-left: 3rem;
      width: 100px;
    }
    .button {
      width: 100%;
    }
  }
}

@media (min-width: 427px) and (max-width: 769px) {
  #buttonBox {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    #NextButton__ProblemFormScreen {
      width: 100px;
      margin-left: 2rem;
      margin-right: 4rem;
    }
    #BackButton__ProblemFormScreen {
      margin-left: 5rem;
      width: 100px;
    }
    .button {
      width: 100%;
    }
  }
}

@media (min-width: 770px) and (max-width: 1438px) {
  #buttonBox {
    display: flex;
    justify-content: flex-end;
    width: 88%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    .button {
      float: "right";
      display: "flex";
      margin-right: 20px;
    }
  }
}

@media (min-width: 1439px) and (max-width: 2558px) {
  #buttonBox {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    margin-left: 6.3rem;
    .button {
      float: "right";
      display: "flex";
      margin-right: 20px;
    }
  }
}

@media (min-width: 2559px) {
  #buttonBox {
    display: flex;
    justify-content: flex-end;
    width: 82%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2rem;
    margin-left: 7rem;
    .button {
      float: "right";
      display: "flex";
      margin-right: 20px;
    }
  }
}
