@media (max-width: 376px) {
  #TextFieldBox {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #TitleField {
      width: 250px;
      color: white;
      margin-top: 2rem;
    }
    #SelectField {
      width: 250px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;

    #TextAreaLg {
      width: 90%;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    width: 94%;
    display: inline-block;
    margin-left: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: start;
  }

  .TextArea {
    background-color: #282a36;
    width: 91%;
    color: white;
    font-family: arial;
    font-size: 18px;
    margin-left: 1.3rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
  }
}
@media (min-width: 376px) and (max-width: 426px) {
  #TextFieldBox {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #TitleField {
      width: 250px;
      color: white;
      margin-top: 2rem;
    }
    #SelectField {
      width: 250px;
      color: white;
      margin-top: 2rem;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    #TextAreaLg {
      width: 70%;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    width: 95%;
    display: inline-block;
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: start;
    text-align: start;
  }
  .TextArea {
    background-color: #282a36;
    width: 92.5%;
    color: white;
    font-family: arial;
    font-size: 18px;
    margin-left: 1.28rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    #TextAreaLg {
      width: 65vh;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  #TextFieldBox {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    #TitleField {
      width: 250px;
      color: white;
    }
    #SelectField {
      width: 250px;
      color: white;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 2rem;
    #TextAreaLg {
      height: 160px !important;
      width: 90vh;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    margin-left: 0.2rem;
    width: 101%;
    display: inline-block;
    margin-top: 2rem;
    justify-content: start !important;
    text-align: start !important;
  }

  .TextArea {
    margin-top: 2rem;
    background-color: #282a36;
    width: 100%;
    color: white;
    font-family: arial;
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1438px) {
  body {
    text-align: center;
  }
  #TextFieldBox {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    #TitleField {
      width: 300px;
      color: white;
      margin-top: 3rem;
    }
    #SelectField {
      width: 300px;
      color: white;
      margin-top: 3rem;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    #TextAreaLg {
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    width: 40%;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 2rem;
    justify-content: start !important;
    text-align: start !important;
  }

  .TextArea {
    height: 291px !important;
    background-color: #282a36;
    width: 40%;
    color: white;
    font-family: "arial";
    font-size: 18px;
    // margin-left: 0.4rem;
    margin-right: 0.2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1439px) and (max-width: 2558px) {
  body {
    text-align: center;
  }
  #TextFieldBox {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #TitleField {
      width: 400px;
      color: white;
      margin-top: 3rem;
    }
    #SelectField {
      width: 400px;
      color: white;
      margin-top: 3rem;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 3rem;
    #TextAreaLg {
      width: 77% !important;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    width: 44%;
    display: inline-block;
    margin-left: 2.9rem;
    justify-content: start !important;
    text-align: start !important;
  }

  .TextArea {
    height: 291px !important;
    background-color: #282a36;
    width: 44%;
    color: white;
    font-family: "arial";
    font-size: "18px";
    margin-left: 0.5rem;
    margin-top: 3rem;
  }
}

@media (min-width: 2559px) {
  body {
    text-align: center;
  }
  #TextFieldBox {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    #TitleField {
      width: 720px;
      color: white;
    }
    #SelectField {
      width: 720px;
      color: white;
      margin-left: 1rem;
      justify-content: start;
      text-align: start;
    }
  }
  #TextAreaLgBox {
    padding: 1rem;
    margin-top: 3rem;
    #TextAreaLg {
      width: 63% !important;
      background-color: #282a36;
      color: white;
      font-family: arial;
      font-size: 18px;
    }
  }
  #CodeEditorBox {
    width: 37%;
    display: inline-block;
    margin-left: 2.5rem;
    justify-content: start !important;
    text-align: start !important;
  }

  .TextArea {
    height: 291px !important;
    background-color: #282a36;
    width: 37%;
    color: white;
    font-family: arial;
    font-size: 18px;
    margin-left: 0.5rem;
    margin-top: 3rem;
  }
}
