#HomeScreenContainer {
    width: 100%;
    height: 95vh;
    background-color: $Color-Bg-Black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    padding-bottom: 5vh;
    #HomeScreenLottie {
        width: 28vw;
        height: 40%;
        min-width: 380px;
        min-height: 235px;
    }
    #HomeScreenTitle {
        width: 100vw;
        font-size: $Title-Size;
        text-align: center;
        color: $Color-White;
        margin: 0;
    }
    #HomeScreenText {
        width: 100vw;
        text-align: center;
        color: $Colot-Font-Light-Gray;
        margin: 40px;
    }
    #HomeScreenButtons {
        width: 300px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .LoginButton {
            div {
                div {
                    text-align: center !important;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #HomeScreenContainer {
        #HomeScreenLottie {
            width: 38vw;
            height: 40%;
            min-width: 410px;
            min-height: 265px;
        }
    }
}

@media (max-width: 700px) {
    #HomeScreenContainer {
        #HomeScreenLottie {
            width: 60vw;
            height: 40%;
            min-width: 350px;
            min-height: 235px;
        }
        #HomeScreenTitle {
            font-size: $Subtitle-Size;
        }
        #HomeScreenText {
            font-size: 1.1rem;
        }
        #HomeScreenButtons {
            width: 250px;
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (max-width: 450px) {
    #HomeScreenContainer {
        #HomeScreenLottie {
            width: 70vw;
            height: 40%;
            min-width: 250px;
            min-height: 245px;
        }
        #HomeScreenTitle {
            font-size: 1.5rem;
        }
        #HomeScreenText {
            font-size: 0.9rem;
            margin: 15px;
        }
        #HomeScreenButtons {
            width: 200;
        }
    }
}

@media (max-width: 390px) {
    #HomeScreenContainer {
        #HomeScreenLottie {
            min-width: 250px;
            min-height: 245px;
        }
        #HomeScreenTitle {
            font-size: 1.3rem;
        }
        #HomeScreenText {
            font-size: 0.7rem;
        }
    }
}

@media (max-height: 650px) {
    #HomeScreenContainer {
        #HomeScreenLottie {
            width: 20%;
            height: 35vh;
            min-width: 250px;
            min-height: 245px;
        }
        #HomeScreenTitle {
            font-size: 1.7rem;
        }
        #HomeScreenText {
            font-size: 0.9rem;
            margin: 15px;
        }
        #HomeScreenButtons {
            width: 240px;
            height: 90px;
        }
    }
}

@media (max-height: 500px) {
    #HomeScreenContainer {
        height: 97.5vh;
        padding-bottom: 2.5;
        #HomeScreenLottie {
            width: 20%;
            height: 22.5vh;
            min-width: 0px;
            min-height: 0px;
        }
        #HomeScreenTitle {
            font-size: 1.5rem;
        }
        #HomeScreenText {
            font-size: 0.7rem;
            margin: 15px;
        }
        #HomeScreenButtons {
            width: 180px;
            height: 80px;
            div {
                div {
                    font-size: 12px;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media (max-height: 250px) {
    #HomeScreenContainer {
        height: 100vh;
    }
}
